body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 400 1em/1.8 Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
img {
  border: 0;
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}
.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.warp {
  width: 1200px;
  margin: 0 auto;
}
.mainnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  background: black;
}
.mainnav ul {
  overflow: hidden;
  float: right;
}
.mainnav ul li {
  float: left;
  margin: 0 20px;
}
.mainnav ul li a {
  color: white;
}
.mainnav ul li.active a {
  color: #6699ff;
}
.mainnav .logo img {
  vertical-align: middle;
}
.section {
  padding-top: 60px;
}
.vertical-float {
  -webkit-animation-name: vertical-float;
  -webkit-animation-duration: 500ms;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: vertical-float;
  animation-duration: 500ms;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@-webkit-keyframes vertical-float {
  0% {
    transform: translate3D(0, 0, 0) rotateZ(-45deg);
  }
  100% {
    transform: translate3D(0, 5px, 0) rotateZ(-45deg);
  }
}
@keyframes vertical-float {
  0% {
    transform: translate3D(0, 0, 0) rotateZ(-45deg);
  }
  100% {
    transform: translate3D(0, 5px, 0) rotateZ(-45deg);
  }
}
.rotate-gear {
  -webkit-animation: rotate-gear 10s linear 0 infinite;
}
@-webkit-keyframes rotate-gear {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.home {
  position: relative;
  background: url(../img/sec1_bg.jpg) #161616 top center no-repeat;
  background-size: cover;
}
.home h1 {
  float: right;
  margin: 0 0 145px;
  padding-bottom: 5px;
  text-align: right;
  border-bottom: 2px solid #666666;
  color: white;
  font-size: 38px;
  line-height: 1.2em;
  font-weight: 400;
  clear: both;
  opacity: 0;
  transition: opacity 1.8s;
}
.home h1 span {
  font-size: 32px;
}
.home strong {
  display: block;
  margin: 0 auto 50px;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 24px;
  clear: both;
  opacity: 0;
  transition: opacity 1.8s .6s;
}
.home a.learn-more {
  position: relative;
  left: 50%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 1s 1s;
}
.home a.learn-more i {
  position: absolute;
  bottom: 18px;
  left: 45px;
  transform: rotateZ(-45deg);
}
.home a.learn-more i::before {
  content: '';
  display: block;
  width: 6px;
  height: 15px;
  background: #6699ff;
}
.home a.learn-more i::after {
  content: '';
  display: block;
  position: relative;
  top: -6px;
  width: 15px;
  height: 6px;
  background: #6699ff;
}
.home .active h1,
.home .active strong,
.home .active a.learn-more {
  opacity: 1;
}
.wireless {
  position: relative;
  font-size: 15px;
  line-height: 1.7em;
}
.wireless .warp {
  position: relative;
}
.wireless h2 {
  font-size: 18px;
  color: #6699ff;
}
.wireless .battery {
  position: absolute;
  right: -100px;
  bottom: -100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.wireless .battery.active {
  transform: translate3D(-100px, -100px, 0);
  opacity: 1;
}
.wireless .battery p {
  position: absolute;
  left: 50%;
  top: 40%;
  width: 250px;
  height: 120px;
  margin-left: -180px;
  margin-top: -30px;
  transform: rotateZ(10deg);
  font-size: 15px;
  text-align: center;
  color: white;
}
.wireless p {
  margin-bottom: 3em;
  width: 600px;
}
.wireless p:first-child {
  margin-top: 3em;
}
#battery {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 250px;
  height: 120px;
  margin-left: -158px;
  margin-top: -60px;
  border-radius: 10px/30px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  transform: scale(0.8, 0.8) rotateZ(10deg);
  background-image: linear-gradient(to right, transparent 5%, #316d08 5%, #316d08 7%, #60b939 8%, #60b939 10%, #51aa31 11%, #51aa31 60%, #64ce11 61%, #64ce11 63%, #255405 63%, black 68%, black 95%, transparent 95%), linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.4) 4%, rgba(255, 255, 255, 0.2) 7%, rgba(255, 255, 255, 0.2) 14%, rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0) 41%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0.1) 92%, rgba(255, 255, 255, 0.1) 95%, rgba(255, 255, 255, 0.5) 98%);
}
#battery:before {
  display: block;
  position: absolute;
  content: '';
  width: 12px;
  height: 55px;
  right: -14px;
  top: 32px;
  border-top-right-radius: 6px 10px;
  border-bottom-right-radius: 6px 10px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 14%, rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0) 41%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0.1) 92%, rgba(255, 255, 255, 0.1) 95%, rgba(255, 255, 255, 0.5) 98%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 14%, rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0) 41%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0.1) 92%, rgba(255, 255, 255, 0.1) 95%, rgba(255, 255, 255, 0.5) 98%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 14%, rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0) 41%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0.1) 92%, rgba(255, 255, 255, 0.1) 95%, rgba(255, 255, 255, 0.5) 98%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 14%, rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0) 41%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.4) 86%, rgba(255, 255, 255, 0.6) 90%, rgba(255, 255, 255, 0.1) 92%, rgba(255, 255, 255, 0.1) 95%, rgba(255, 255, 255, 0.5) 98%);
}
#battery:after {
  display: block;
  position: absolute;
  content: '';
  width: 220px;
  height: 120px;
  left: 10px;
  border-radius: 0.16666667px;
  border-left: 4px solid black;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 4%, rgba(255, 255, 255, 0.2) 5%, transparent 5%, transparent 14%, rgba(255, 255, 255, 0.3) 14%, rgba(255, 255, 255, 0.12) 40%, rgba(0, 0, 0, 0.05) 42%, rgba(0, 0, 0, 0.05) 48%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 87%, rgba(255, 255, 255, 0.3) 92%, transparent 92%, transparent 97%, rgba(255, 255, 255, 0.4) 97%), -webkit-linear-gradient(right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 2%, black 0%, transparent 0%), -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0) 90%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.3) 4%, rgba(255, 255, 255, 0.2) 5%, transparent 5%, transparent 14%, rgba(255, 255, 255, 0.3) 14%, rgba(255, 255, 255, 0.12) 40%, rgba(0, 0, 0, 0.05) 42%, rgba(0, 0, 0, 0.05) 48%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 87%, rgba(255, 255, 255, 0.3) 92%, transparent 92%, transparent 97%, rgba(255, 255, 255, 0.4) 97%), -moz-linear-gradient(right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 2%, black 0%, transparent 0%), -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0) 90%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 4%, rgba(255, 255, 255, 0.2) 5%, transparent 5%, transparent 14%, rgba(255, 255, 255, 0.3) 14%, rgba(255, 255, 255, 0.12) 40%, rgba(0, 0, 0, 0.05) 42%, rgba(0, 0, 0, 0.05) 48%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 87%, rgba(255, 255, 255, 0.3) 92%, transparent 92%, transparent 97%, rgba(255, 255, 255, 0.4) 97%), -o-linear-gradient(right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 2%, black 0%, transparent 0%), -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0) 90%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 4%, rgba(255, 255, 255, 0.2) 5%, transparent 5%, transparent 14%, rgba(255, 255, 255, 0.3) 14%, rgba(255, 255, 255, 0.12) 40%, rgba(0, 0, 0, 0.05) 42%, rgba(0, 0, 0, 0.05) 48%, transparent 60%, transparent 80%, rgba(255, 255, 255, 0.3) 87%, rgba(255, 255, 255, 0.3) 92%, transparent 92%, transparent 97%, rgba(255, 255, 255, 0.4) 97%), linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 2%, black 0%, transparent 0%), linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0) 90%);
}
.feature {
  position: relative;
  background: url(../img/sec3_bg.png) center center no-repeat;
}
.feature h2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  margin-left: -220px;
  margin-top: -150px;
  width: 440px;
  height: 440px;
  line-height: 1.2em;
  text-align: center;
  border-radius: 500px;
  background-color: #6699ff;
  font-size: 24px;
  font-weight: 400;
  color: white;
  overflow: hidden;
}
.feature h2 img {
  display: block;
  margin: 50px auto 80px;
}
.feature .warp div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  font-size: 15px;
  line-height: 1.7em;
  transition: all 0.5s ease-out;
  white-space: nowrap;
}
.feature .warp div img {
  vertical-align: middle;
}
.feature .warp div span {
  margin: 0 20px;
  transform: translate3D(0, 0, 0);
}
.feature .warp div.effective span {
  display: inline-block;
  vertical-align: middle;
  color: #83b444;
}
.feature .warp div.effective.active {
  transform: translate3D(-480px, 75px, 0);
}
.feature .warp div.cost span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #ffbc31;
}
.feature .warp div.cost.active {
  transform: translate3D(-380px, -220px, 0);
}
.feature .warp div.scale {
  margin-left: -70px;
  text-align: center;
}
.feature .warp div.scale span {
  margin: 0;
  color: #dc6fa3;
}
.feature .warp div.scale span:after {
  content: '\A';
  white-space: pre;
}
.feature .warp div.scale.active {
  transform: translate3D(0, -400px, 0);
}
.feature .warp div.thin span {
  display: inline-block;
  vertical-align: middle;
  color: #04cbce;
}
.feature .warp div.thin.active {
  transform: translate3D(380px, -220px, 0);
}
.feature .warp div.stable span {
  display: inline-block;
  vertical-align: middle;
  color: #7eabf5;
}
.feature .warp div.stable.active {
  transform: translate3D(480px, 75px, 0);
}
.service {
  background: url(../img/sec4_bg.jpg) #222324 top center no-repeat;
  background-size: cover;
  font-size: 15px;
}
.service h2,
.service h3 {
  color: #6699ff;
  font-weight: 400;
  font-size: 24px;
}
.service p {
  color: white;
}
.service .warp div {
  margin: 80px 0;
}
.service .warp div h3 {
  display: inline-block;
  margin-right: 60px;
  vertical-align: middle;
}
.service .warp div img {
  vertical-align: middle;
  width: 500px;
}
.practice {
  font-size: 15px;
}
.practice ul {
  text-align: justify;
}
.practice ul li {
  display: inline;
  list-style: none;
}
.practice ul li.stretch {
  display: inline-block;
  width: 100%;
}
.practice .from-top {
  transform: translate3D(0, -50px, 0);
}
.practice .from-left {
  transform: translate3D(-50px, 0, 0);
}
.practice .from-right {
  transform: translate3D(50px, 0, 0);
}
.practice .delay-1 {
  transition-delay: 400ms;
}
.practice .delay-2 {
  transition-delay: 800ms;
}
.practice .delay-3 {
  transition-delay: 1200ms;
}
.practice img {
  opacity: 0;
  transition-property: all;
  transition-duration: 500ms;
}
.practice.active img {
  opacity: 1;
  transform: none;
}
.contact h2 {
  color: #6699ff;
  font-weight: 400;
  font-size: 36px;
}
.contact p {
  color: white;
  line-height: 140px;
  vertical-align: middle;
}
.contact p.addr:before {
  content: '';
  display: inline-block;
  margin-right: 60px;
  vertical-align: middle;
  width: 50px;
  height: 62px;
  background: url(../img/contactus.png) center top no-repeat;
}
.contact p.phone:before {
  content: '';
  display: inline-block;
  margin-right: 60px;
  vertical-align: middle;
  width: 50px;
  height: 62px;
  background: url(../img/contactus.png) center bottom no-repeat;
}
.contact a {
  display: inline-block;
  width: 96px;
  height: 96px;
  margin-right: 110px;
}
.contact a.weibo {
  background: url(../img/weibo.png) bottom center no-repeat;
}
.contact a.weixin {
  background: url(../img/weixin.png) bottom center no-repeat;
}
.contact a.qq {
  background: url(../img/qq.png) bottom center no-repeat;
}
.contact a:hover.weibo,
.contact a.active.weibo {
  background-position: top center;
}
.contact a:hover.weixin,
.contact a.active.weixin {
  background-position: top center;
}
.contact a:hover.qq,
.contact a.active.qq {
  background-position: top center;
}
@media only screen and (max-width: 1440px) {
  .warp {
    width: 1000px;
  }
  .wireless .battery {
    transform: scale(0.75, 0.75);
    transform-origin: right bottom;
  }
  .wireless .battery.active {
    transform: translate3D(-120px, -130px, 0) scale(0.75, 0.75);
  }
  .feature {
    background-size: 600px;
    background-position: 50% 60%;
  }
  .feature h2 {
    width: 280px;
    height: 280px;
    margin-left: -140px;
    margin-top: -50px;
  }
  .feature h2 img {
    width: 90px;
    margin-bottom: 20px;
  }
  .feature .warp div {
    margin-left: -80px;
  }
  .feature .warp div img {
    width: 82px;
  }
  .feature .warp div.effective.active {
    transform: translate3D(-340px, 75px, 0);
  }
  .feature .warp div.stable.active {
    transform: translate3D(340px, 75px, 0);
  }
  .feature .warp div.cost.active {
    transform: translate3D(-260px, -120px, 0);
  }
  .feature .warp div.thin.active {
    transform: translate3D(260px, -120px, 0);
  }
  .feature .warp div.scale.active {
    transform: translate3D(15px, -250px, 0);
  }
  .practice img {
    width: 300px;
  }
}
@media only screen and (max-width: 1000px) {
  .home strong {
    font-size: 48px;
  }
  .wireless p:last-child {
    width: 400px;
  }
  .feature {
    background-position: 50% 53%;
  }
  .feature span {
    font-size: 30px;
    line-height: 1.2em;
  }
  .warp {
    width: 95%;
  }
}
